
  <%= search_form_for(@q, url:search_path) do |f| %>
    <p>
      <%= f.label :name_cont, 'Name' %>
      <%= f.search_field :name_cont %>
    </p>
    <p>
      <%= f.collection_select :department_id_eq, @departments, :id, :name, :include_blank => "Select a Department" %>
      <%= f.submit %>
    </p>
    
  <% end %>