<h1>Students#search</h1>





<div class="container">
  <div>
    <%= render 'search_form' %>
  </div>

  <div>
    <table>
      <% @students.each do |student| %>
        <tr>
          <td>
            <%= student.name %>
          </td>
          <td>
            <%= student.sex %>
          </td>
          <td>
            <%= student.age %>
          </td>
          <td>
            <%= student.department.name %>
          </td>
          <td>
            <%= student.subjects.map{|subject_id| Subject.find(subject_id).name}.join(', ') %>
          </td>

        </tr>
        <% end %>
    </table>
    <%= link_to "Index", root_path %>
  </div>
</div>